body {
    font-family: 'Roboto';
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav nav nav"
      "photo photo photo"
      "photo photo photo"
      "main main main"
      "main main main"
      "main main main"
      "footer footer footer";
  }
  
.photo { 
      grid-area: photo; 
}
  
.footer { 
    grid-area: footer; 
}
  
.main { 
    grid-area: main; 
}
  
.nav { 
    grid-area: nav; 
}
  