body {
    font-family: 'Roboto';
    
}

img{
    max-width: 100%;
    padding: 0;
}

.title{
    font-size: larger;
    font-weight: bold;
    margin: 0px;
}

.nav{
    background-color: black;
    color: white;
    max-width: 100%;
    margin: 0px;
}

.nav a{
    text-decoration: none;
    color: white;
}

.navwrapper{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
