body {
    font-family: 'Roboto';
    height: 5000px;
}



.title{
    font-size: larger;
    font-weight: bold;
    margin: 0px;
}

.nav{
    background-color: black;
    color: white;
    max-width: 100%;
    margin: 0px;
}

.navwrapper{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.nav a{
    text-decoration: none;
    color: white;
}

img{
    max-width: 100%;
    padding: 0;
}

.imgwrap{
    position: relative;
}

.imagetext{
    position: absolute;
    top:35%;
    left: 20%;
    font-weight: bold;
    font-size: 100px;
    color: white;
}
